.SimpleTextGraph {
    padding: 20px;
    border: 1px solid #aaa;
    borderRadius: 5px;
    font-size: 2em;
    color: #aaa;
    height: 100%;
}

.SimpleTextGraph .BigNumber{
    position: relative;
    font-size: 5em;
    color: black;
}
