# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
src/configs/nuage/scripts/pps-simulator/log/*
elasticsearch*

# production
build
.git

# misc
.DS_Store
npm-debug.log
*.swp
*.zip
reports/*
