.bar-graph {
  width: 100%;
  height: 100%;
}

.axis text {
    font-size: 0.75em;
}

.axis-label {
    font-size: 0.9em;
}

.tick text {
    fill: #6b6b6b;
}

.tick line {
  fill: none;
  stroke: #d9d9d9;
  stroke-width: 1px;
  stroke-dasharray: 2,2;
}
