body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fcfcfc;
  color: #d9d9d9;
}

/* Material-UI */

.appBar {
    box-shadow: 0 !important;
    border-bottom: solid 1px #d9d9d9;
}

/* React Grid Layout */

.react-grid-item.react-grid-placeholder {
    background: #b3d0ff;
    opacity: 0.1;
}

/* Bootstrap */

text {
    font-size: 0.75em;
}

a, a:hover {
  color: inherit;
}

img {
  vertical-align: baseline;
}
