body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background: #fcfcfc;
  color: #d9d9d9;
}

/* Material-UI */

.appBar {
    box-shadow: 0 !important;
    border-bottom: solid 1px #d9d9d9;
}

/* React Grid Layout */

.react-grid-item.react-grid-placeholder {
    background: #b3d0ff;
    opacity: 0.1;
}

/* Bootstrap */

text {
    font-size: 0.75em;
}

a, a:hover {
  color: inherit;
}

img {
  vertical-align: baseline;
}

/* Let's get this party started */
.react-grid-item ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.react-grid-item ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* Handle */
.react-grid-item ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: rgba(202, 201, 201, 0.8); 
  cursor: pointer
}

.react-grid-item ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(202, 201, 201, 0.8); 
  cursor: default;
}