body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background: #fcfcfc;
  color: #d9d9d9;
}

/* Material-UI */

.appBar {
    box-shadow: 0 !important;
    border-bottom: solid 1px #d9d9d9;
}

/* React Grid Layout */

.react-grid-item.react-grid-placeholder {
    background: #b3d0ff;
    opacity: 0.1;
}

/* Bootstrap */

text {
    font-size: 0.75em;
}

a, a:hover {
  color: inherit;
}

img {
  vertical-align: baseline;
}
.Collapsible {
  background-color: #fff;
  margin-top: 10px;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #D3D3D3;
  border-top: 0;

}
.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}
.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #808080;
  position: relative;
  border: 1px solid white;
  padding: 16px;
  background: rgba(87, 93, 93, 0.82);
  color: white;
  font-size: 20px;
}
.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '\f107';
  position: absolute;
  right: 10px;
  top: 16px;
  display: block;
  transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black;
}
/* Let's get this party started */
.react-grid-item ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.react-grid-item ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* Handle */
.react-grid-item ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: rgba(202, 201, 201, 0.8);
  cursor: pointer
}

.react-grid-item ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(202, 201, 201, 0.8);
  cursor: default;
}

.contextMenu {
  position: absolute;
  background-color: white;
  border: 1px solid rgb(217, 217, 217);
  z-index: 10000;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: rgb(33, 33, 33);
  padding: 0;
  list-style: none;
}

.contextMenu > li {
  padding: 10px 5px;
  min-width: 80px;
  justify-content: space-between;
  border-bottom: solid 1px #dfdfdf;
  cursor: pointer;
}

.contextMenu > li:hover {
  color: white;
  background-color: rgb(107, 148, 236);
}
