table {

    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 45px;
}

tbody {
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    float: left;
}

.tooltip {
  opacity: 1 !important;
}

.pointer {
    cursor: pointer !important;
    text-decoration: none;
}

.text-white {
    color: #fcfcfc;
}

.text-white:hover {
    font-weight: bold;
    color: #fcfcfc;
    cursor:  copy;
}

thead, tbody, tr, td, th {
    display: initial !important;
}